@use '_Setup.scss';
// Spellbook/spellcard specific styles
@use '_Spellbook.scss';
@use '_Nav.scss';
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Metamorphous&display=swap');

// General Styles
.hidden {
    display: none;
}


html {
    font-size: 125%;
}
body{
    font-family: 'Metamorphous', cursive;
}
p {
    display: inline-block;
    margin: 1rem;
}

h1, h2, li {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
}

.mainTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    h1{
        font-family: 'Cinzel Decorative', cursive;
        font-size: 7rem;
        font-weight: 400;
        margin: 0;
    }
}

.App {
    background-image: url(../../public/magicBook.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y:hidden;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.651);
    color: #fff;
    width: 80%;
    margin: 1rem auto;
    padding: 2rem 0;
    box-shadow: 0.5rem 0.5rem 1rem #000;
    height: 85%;
    overflow-y:scroll;
    scrollbar-color: rgb(0, 0, 0) rgba(255, 255, 255, 0);
    scrollbar-width: thin;
    // height: 100vh;
}
.overlay::-webkit-scrollbar{
    background: rgba(0, 0, 0, 0);
    width: 5px;
}
.overlay::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 0);
}
